# Скомпилированные файлы (Maven)
target/
*.class

# Файлы настроек IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# properties
*.properties

# Локальные файлы статистики (чтобы не пушить свой прогресс)
stat.dat

# Логи и временные файлы
*.log
.DS_Store